@model Asp.ErpFidelitas.General.v2.Entities.MovementInventory

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>
    
    <!-- Account details card-->
    <div class="card mb-12">
        <div class="card-header">Movimientos Inventario</div>
        <div class="card-body">
            <form>
                <!-- Form Group (username)-->

                <div class="row gx-3 mb-12">
                    <div class="col-md-6">
                        <label class="small mb-1">Tipo Documento</label>
                        <br>
                        @*@Html.DropDownListFor(m => , ViewBag.ListaTiposDocumento as List<SelectListItem>, new { @class = "form-control" })*@

                        <select id="ddlTipoDocumento" class="dropdown" aria-label="Default select example">
                            <option selected="">Seleccione un Tipo Documento:</option>
                            @foreach (var item in ViewBag.ListaTiposDocumento as List<SelectListItem>)
                            {
                                <option value="@item.Value">@item.Text</option>

                            }
                        </select>
                    </div>

                    <div class="col-md-6">
                        <label class="small mb-1">Artículo</label>
                        <br>
                        @*@Html.DropDownListFor(m => m.ProductId, ViewBag.ListaArticulos as List<SelectListItem>, new { @class = "form-control" })*@
                        <select id="ddlArticulo" class="form-select" aria-label="Default select example">
                            <option>Seleccione un artículo:</option>
                            @foreach (var item in ViewBag.ListaArticulos as List<SelectListItem>)
                            {
                                <option value="@item.Value">@item.Text</option>

                            }
                        </select>
                    </div>

                </div>
                <hr>
                <!-- Form Row-->
                <div class="row gx-3 mb-12">
                    <!-- Form Group (first name)-->
                    <div class="col-md-6">
                        <label class="small mb-3" for="txtCantidad">Cantidad</label>
                        <br>
                        <input class="form-control" id="txtCantidad" type="number" placeholder="999,999.99" value="1">
                    </div>
                    <!-- Form Group (last name)-->
                    <div class="col-md-6">
                        <label class="small mb-3" for="txtPrecio">Precio</label>
                        <br>
                        <input class="form-control" id="txtPrecio" type="number" placeholder="999,999.99" value="1">
                    </div>
                    <!-- Form Group (last name)-->
                </div>
                <hr>
                <div class="row gx-3 mb-12">
                    <div class="col-md-6">
                        <label class="small mb-3">Moneda</label>
                        <br>
                        <select id="ddlMoneda" class="form-select" aria-label="Default select example">
                            <option selected="" disabled="">Seleccione una:</option>
                            @foreach (var item in ViewBag.ListaMonedas as List<SelectListItem>)
                            {
                                <option value="@item.Value">@item.Text</option>

                            }
                        </select>

                         
                    </div>
                </div>
                <br>
                <!-- Save changes button-->
                <button class="btn btn-primary" type="button" onclick="userOne.AddMovimientoInv()">Agregar </button>
            </form>
        </div>
    </div> 

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Movimientos</h6> 
    </div>
    <div class="card-body">

        @using (Html.BeginForm("Create", "MovementInventory", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Guardar"
                           class="btn btn-primary btn-block">
                    @*<button asp-action type="submit" value="Create" class="btn btn-secondary" />*@
                </div>
            </div>

            <div class="table-responsive">
                <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                    <div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="dataTable_length"><label>Show <select name="dataTable_length" aria-controls="dataTable" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div><div class="col-sm-12 col-md-6"><div id="dataTable_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTable"></label></div></div></div><div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                <thead>
                                    <tr role="row">
                                        <th class="sorting sorting_asc" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                            aria-sort="ascending" aria-label="Name: activate to sort column descending" style="width: 142px;">Tipo Doc</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                            aria-label="Position: activate to sort column ascending" style="width: 220px;">Artículo</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                            aria-label="Office: activate to sort column ascending" style="width: 99px;">Cantidad</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                            aria-label="Age: activate to sort column ascending" style="width: 42px;">Precio</th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1" colspan="1"
                                            aria-label="Start date: activate to sort column ascending" style="width: 94px;">Moneda</th>
                                </thead>
                                <tfoot>
                                </tfoot>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="dataTable_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="dataTable_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="dataTable_previous"><a href="#" aria-controls="dataTable" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="dataTable" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="3" tabindex="0" class="page-link">3</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="4" tabindex="0" class="page-link">4</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="5" tabindex="0" class="page-link">5</a></li><li class="paginate_button page-item "><a href="#" aria-controls="dataTable" data-dt-idx="6" tabindex="0" class="page-link">6</a></li><li class="paginate_button page-item next" id="dataTable_next"><a href="#" aria-controls="dataTable" data-dt-idx="7" tabindex="0" class="page-link">Next</a></li></ul></div></div></div>
                </div>
            </div>
        }

    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
