@model IEnumerable<Views.ErpFidelitas.General.v2.Entities.Currency>

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Delete</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CurrencyId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CurrencyId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CurrencyId })
        </td>
    </tr>
}

</table>
