@model Asp.ErpFidelitas.General.v2.Entities.MovementInventory

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MovementInventory</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InventoryMovementId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InventoryMovementId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DocumentTypeId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DocumentTypeId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovementDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovementDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MovementLogDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MovementLogDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitCost)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitCost)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostCurrencyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostCurrencyId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UnitPriceCurrencyId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UnitPriceCurrencyId)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
